/* Kada budes ubacivao banere skini im ovaj fontface i ubaci onaj koji vec postoji na sajtu */

@font-face {
    font-family: 'DinPro';
    src: url('DIN/DINPro-Bold.otf');
}
body {
    margin: 0 auto !important;
}
img {
  width: 100%;
}
.broken-heart {
    display: none !important;
}
.baner {
    font-family: 'DinPro', sans-serif;
    display: inline-block;
}
.pink-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    background: #e20e76;
    z-index: 2;
    cursor: default;
}
.banner-phone-fav {
    display: inline-block;
    border: 2px solid white;
    border-radius: 30px;
    padding: 1px 7px;
}
.baner2 .banner-phone-fav {
    padding: 0px 7px 2px;
    margin-top: 2px;
}
.wave1, .wave2, .wave3 {
    z-index: 0;
    position: absolute;
    display: inline-block;
}
.pink-line {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 10px;
    background: #e20e76;
    z-index: 0;
    width: 100%;
}
.purple-line1, .purple-line2 {
    display: inline-block;
    position: absolute;
    top: 0;
    height: 10px;
    background: #682770;
    z-index: 2;
}
.res-btn {
    position: absolute;
    background: #682770;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.res-btn:active {
    transform: scale(0.95)
}
.res-btn:hover {
    opacity: 0.85;
}
.res-text {
    color: white;
    font-weight: 400;
}
.leading-link {
    display: inherit;
    text-decoration: none;
    color: #682770;
}

/* PRVI BANER */

.baner1 {
    width: 300px;
    height: 600px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.baner1 .pink-circle {
    height: 250px;
    width: 250px;
    top: 50px;
    left: 25px;
}
.baner1 .question-text {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    line-height: 1.2;
}
.baner1 .wave1, .baner1 .wave2, .baner1 .wave3 {
    height: 245px;
    width: 245px;
    border-radius: 50%;
    top: 51px;
    left: 27px;
    background: none;
    border: 1px solid #682770;
}
.baner1 .purple-line1 {
    width: 90px;
    right: 30px;
}
.baner1 .purple-line2 {
    width: 10px;
    right: 0;
}
.baner1 .res-btn {
    min-width: 190px;
    max-width: 80%;
    height: 50px;
    top: 378px;
    left: 55px;
}
.baner1 .banner-arrow {
    display: inline-block;
    height: 29px;
    width: 28px;
    position: absolute;
    top: -40px;
    background: url(png/arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.baner1 .phone-num {
    display: flex;
    height: 30px;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #e20e76;
    border-radius: 50px;
    background: url(png/krug.png);
    background-position-x: 2px;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 26px;
    color: #682770;
    font-weight: 600;
    cursor: pointer;
}
.baner1 .banner-svoj-broj {
    text-indent: 24px;
    display: inline-block;
    margin-top: -2px;
}
.baner1 .pink-heart {
    display: inline-block;
    position: absolute;
    top: -60px;
    left: -22px;
    width: 73px;
    height: 55px;
    background: url(png/srce.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
.baner1 .flying-hearts {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 125%;
    width: 100%;
    top: 100%;
    background: url(png/letecasrca.png);
    background-size: 139%;
    background-position: center;
    background-repeat-y: repeat;
    background-repeat-x: repeat;
}
.baner1 #lastlogo {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 71px;
}
/* DRUGI BANER */

.baner2 {
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.baner2 .pink-circle {
  height: 150px;
  width: 150px;
  top: 50px;
  left: 5px;
}
.baner2 .question-text {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    line-height: 1.2;
}
.baner2 .wave1, .baner2 .wave2, .baner2 .wave3 {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    top: 52px;
    left: 7px;
    background: none;
    border: 1px solid #682770;
}
.baner2 .purple-line1 {
    width: 90px;
    right: 30px;
}
.baner2 .purple-line2 {
    width: 10px;
    right: 0;
}
.baner2 .res-btn {
    min-width: 105px;
    max-width: 42%;
    height: 35px;
    top: 110px;
    right: 5px;
    font-size: 14px;
}
.baner2 .banner-arrow {
  display: inline-block;
  height: 17px;
  width: 22px;
  position: absolute;
  left: -28px;
  background: url(png/arrow2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.baner2 .phone-num {
  display: flex;
  height: 24px;
  width: 130px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  right: 5px;
  border: 2px solid #e20e76;
  border-radius: 50px;
  background: url(png/krug.png);
  background-position-x: 2px;
  background-position-y: 2px;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #682770;
  font-weight: 600;
  cursor: pointer;
  transform: scale(0.9);
}
.baner2 .banner-svoj-broj {
    text-indent: 21px;
    font-size: 15px;
    margin-top: -2px;
}
.baner2 .pink-heart {
    display: inline-block;
    position: absolute;
    top: -36px;
    left: -9px;
    width: 42px;
    height: 32px;
    background: url(png/srce.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
.baner2 .flying-hearts {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    top: 100%;
    background: url(png/letecasrca.png);
    background-size: 139%;
    background-position: center;
    background-repeat-y: repeat;
    background-repeat-x: repeat;
}
.baner2 #lastlogo {
    display: inline-block;
    position: absolute;
    top: 115px;
    right: 10px;
    width: 100px;
}

/* TRECI BANER */

.baner3 {
    width: 970px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.baner3 .pink-circle {
    height: 286px;
    width: 286px;
    top: -18px;
    left: 50px;
}
.baner3 .question-text {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    line-height: 1.2;
}
.baner3 .wave1, .baner3 .wave2, .baner3 .wave3 {
    height: 281px;
    width: 281px;
    border-radius: 50%;
    top: -17px;
    left: 52px;
    background: none;
    border: 1px solid #682770;
}
.baner3 .purple-line1 {
    width: 280px;
    right: 120px;
}
.baner3 .purple-line2 {
    width: 50px;
    right: 0;
}
.baner3 .res-btn {
    min-width: 220px;
    max-width: 42%;
    height: 60px;
    top: 95px;
    left: 435px;
    font-size: 24px;
}
.baner3 .banner-arrow {
    display: inline-block;
    height: 25px;
    width: 26px;
    position: absolute;
    left: -60px;
    background: url(png/arrow2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.baner3 .phone-num {
    display: flex;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 25px;
    border: 2px solid #e20e76;
    border-radius: 50px;
    background: url(png/krug.png);
    background-position-x: 2px;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 36px;
    color: #682770;
    font-weight: 600;
    cursor: pointer;
    top: 125px;
    transform: scale(0.8);
}
.baner3 .banner-svoj-broj {
    text-indent: 30px;
    font-size: 19px;
    margin-top: -2px;
}
.baner3 .pink-heart {
    display: inline-block;
    position: absolute;
    top: -75px;
    left: -27px;
    width: 92px;
    height: 70px;
    background: url(png/srce.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
.baner3 .flying-hearts {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 227%;
    width: 100%;
    top: 100%;
    background: url(png/letecasrca.png);
    background-size: 100%;
    background-position: center;
    background-repeat-y: repeat;
    background-repeat-x: repeat;
}
.baner3 #lastlogo {
  display: inline-block;
  position: absolute;
  top: 140px;
  right: 30px;
  width: 170px;
}
/* CETVRTI BANER */

.baner4 {
    width: 980px;
    height: 200px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.baner4 .pink-circle {
    height: 286px;
    width: 286px;
    top: -43px;
    left: 45px;
}
.baner4 .question-text {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    line-height: 1.2;
}
.baner4 .wave1, .baner4 .wave2, .baner4 .wave3 {
    height: 281px;
    width: 281px;
    border-radius: 50%;
    top: -41px;
    left: 47px;
    background: none;
    border: 1px solid #682770;
}
.baner4 .purple-line1 {
    width: 285px;
    right: 120px;
}
.baner4 .purple-line2 {
    width: 50px;
    right: 0;
}
.baner4 .res-btn {
    min-width: 220px;
    max-width: 42%;
    height: 55px;
    top: 80px;
    left: 430px;
    font-size: 24px;
}
.baner4 .banner-arrow {
  display: inline-block;
  height: 25px;
  width: 26px;
  position: absolute;
  left: -60px;
  background: url(png/arrow2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.baner4 .phone-num {
    display: flex;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 28px;
    border: 2px solid #e20e76;
    border-radius: 50px;
    background: url(png/krug.png);
    background-position-x: 2px;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 36px;
    color: #682770;
    font-weight: 600;
    cursor: pointer;
    top: 110px;
    transform: scale(0.8);
}
.baner4 .banner-svoj-broj {
    text-indent: 30px;
    font-size: 19px;
    margin-top: -2px;
}
.baner4 .pink-heart {
    display: inline-block;
    position: absolute;
    top: -75px;
    left: -27px;
    width: 92px;
    height: 70px;
    background: url(png/srce.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
.baner4 .flying-hearts {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 227%;
    width: 100%;
    top: 100%;
    background: url(png/letecasrca.png);
    background-size: 100%;
    background-position: center;
    background-repeat-y: repeat;
    background-repeat-x: repeat;
}
.baner4 #lastlogo {
  display: inline-block;
  position: absolute;
  top: 105px;
  right: 30px;
  width: 150px;
}
/* PETI BANER */

.baner5 {
    width: 990px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
.baner5 .pink-circle {
    height: 286px;
    width: 286px;
    top: -18px;
    left: 50px;
}
.baner5 .question-text {
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: white !important;
    font-weight: 700;
    line-height: 1.2;
}
.baner5 .wave1, .baner5 .wave2, .baner5 .wave3 {
    height: 281px;
    width: 281px;
    border-radius: 50%;
    top: -17px;
    left: 52px;
    background: none;
    border: 1px solid #682770;
}
.baner5 .purple-line1 {
    width: 280px;
    right: 130px;
}
.baner5 .purple-line2 {
    width: 60px;
    right: 0;
}
.baner5 .res-btn {
    min-width: 220px;
    max-width: 42%;
    height: 55px;
    top: 105px;
    left: 430px;
    font-size: 24px;
}
.baner5 .banner-arrow {
    display: inline-block;
    height: 25px;
    width: 26px;
    position: absolute;
    left: -60px;
    background: url(png/arrow2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.baner5 .phone-num {
    display: flex;
    height: 40px;
    width: 190px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    right: 28px;
    border: 2px solid #e20e76;
    border-radius: 50px;
    background: url(png/krug.png);
    background-position-x: 2px;
    background-position-y: 2px;
    background-repeat: no-repeat;
    background-size: 36px;
    color: #682770;
    font-weight: 600;
    cursor: pointer;
    top: 130px;
    transform: scale(0.8);
}
.baner5 .banner-svoj-broj {
    text-indent: 30px;
    font-size: 19px;
    margin-top: -2px;
}
.baner5 .pink-heart {
    display: inline-block;
    position: absolute;
    top: -75px;
    left: -27px;
    width: 92px;
    height: 70px;
    background: url(png/srce.png);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: default;
}
.baner5 .flying-hearts {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    height: 232%;
    width: 100%;
    top: 100%;
    background: url(png/letecasrca.png);
    background-size: 100%;
    background-position: center;
    background-repeat-y: repeat;
    background-repeat-x: repeat;
}
.baner5 #lastlogo {
  display: inline-block;
  position: absolute;
  top: 110px;
  right: 30px;
  width: 150px;
}
/* ANIMACIJE */

.pulsate {
    -webkit-animation: pulsate 3s ease-in-out both;
    animation: pulsate 3s ease-in-out both;
    transform-origin: center;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    10% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    20% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.ping {
    -webkit-animation: ping 3s ease-in-out infinite both;
    animation: ping 3s ease-in-out infinite both;
}
@-webkit-keyframes ping {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ping {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
.ping2 {
    -webkit-animation: ping2 3s ease-in-out infinite both;
    animation: ping2 3s ease-in-out infinite both;
}
@-webkit-keyframes ping2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ping2 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
.ping3 {
    -webkit-animation: ping3 3s ease-in-out infinite both;
    animation: ping3 3s ease-in-out infinite both;
}
@-webkit-keyframes ping3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    65% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes ping3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    65% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}
.flying-arrow1 {
    -webkit-animation: flying-arrow1 0.6s ease-in-out both;
    animation: flying-arrow1 0.6s ease-in-out both;
}
@-webkit-keyframes flying-arrow1 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes flying-arrow1 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
.shake-lr {
	-webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
@keyframes shake-lr {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
.shake-vertical {
	-webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s both;
	        animation: jello-horizontal 0.9s both;
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.fly-away {
    -webkit-animation: fly-away 5s ease-in-out both;
    animation: fly-away 5s ease-in-out both;
}
@-webkit-keyframes fly-away {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    /* 40% {
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
    } */
    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}
@keyframes fly-away {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    /* 40% {
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
    } */
    100% {
        -webkit-transform: translateY(-250%);
        transform: translateY(-250%);
    }
}
.fade-in {
  -webkit-animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/* ANIMACIJA ZA DRUGI BANER */

.flying-arrow2 {
    -webkit-animation: flying-arrow2 0.6s ease-in-out both;
    animation: flying-arrow2 0.6s ease-in-out both;
}
@-webkit-keyframes flying-arrow2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes flying-arrow2 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
/* ANIMACIJA ZA TRECI, CETVRTI I PETI BANER */

.flying-arrow3 {
    -webkit-animation: flying-arrow3 0.6s ease-in-out both;
    animation: flying-arrow3 0.6s ease-in-out both;
}
@-webkit-keyframes flying-arrow3 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes flying-arrow3 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    40% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
